@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:700");

.font-noto-sans-sc {
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font: 100%/1.5 system-ui;
  overflow-x: hidden;
}

.home-page {
  background: #ffffff;
}

.home-page__main {
  margin-inline: auto;
  padding: 0 2rem;
  transition: 0.4s;
  background: #000000;
}

.home-page__section {
  position: relative;
  min-height: 100svh;
  height: 100dvh;
  margin: 0;
}

.home-page__card {
  min-height: 100svh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.home-page__section:first-of-type .home-page__card,
.home-page__section:last-of-type .home-page__card {
  justify-content: center;
}

.home-page__description {
  margin: 0;
  color: #585858;
  font-size: 24px;
  font-family: "Ubuntu Mono", sans-serif;
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  .home-page__description {
    width: 90%;
    font-size: 16px;
  }
  .annotation {
    font-size: 10px;
  }
}
