@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Google Sans Code", monospace;
  user-select: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font: 100%/1.5 system-ui;
  overflow-x: hidden;
}
