@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:700");

.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 50px;
  height: 100vh;
}

.progress-wrapper {
  position: relative;
}

.my-progress {
  appearance: none;
  width: 600px;
  height: 1.5em;
  border: none;
  padding: 0;
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 80px;
}

.my-progress::-webkit-progress-bar,
.my-progress::-webkit-progress-value {
  background: transparent;
}

.progress-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 10em;
  color: #ffffff;
  text-shadow: 0 0 15px #505050, 0 0 30px #808080, 0 0 60px #bbbbbb;
  user-select: none;
  background: linear-gradient(hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 70%)
    no-repeat center;
  -webkit-background-clip: text;
  background-clip: text;
}

@media screen and (max-width: 768px) {
  .progress-container {
    padding: 20px;
  }
  .my-progress {
    width: 90%;
    font-size: 40px;
  }
  .progress-text {
    font-size: 5em;
  }
}
