@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:700");

.progress-container2 {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  position: relative;
  padding: 5px;
  width: 80%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.progress-bar2 {
  background: #fff;
  border-radius: 100px;
  height: 30px;
  transition: width 2s ease-in-out;
  box-shadow: 0 0 15px #505050, 0 0 30px #808080, 0 0 60px #bbbbbb;
}

.progress-text2 {
  position: absolute;
  right: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: "Ubuntu Mono", sans-serif;
}

@media screen and (max-width: 768px) {
  .progress-container2 {
    width: 100%;
    height: 30px;
  }
  .progress-bar2 {
    height: 20px;
  }
  .progress-text2 {
    font-size: 22px;
    right: 10px;
  }
}
